/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../imgs/ajax-loader.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

#nada_encontrado
{

    display:none;
}

#pesquisar{

    z-index: 1;
}

.if{

    height: 500px;
}

#resultado{

    display:none;
}

.table-expand {

    margin-top: 5rem;
}

.table-expand td {

}

.table-expand tr {
    border: 1px solid #e6e6e6;
}

.table-expand .text-right {
    padding-right: 3rem;
}

.table-expand-row.is-active .expand-icon::after {
    content: '-';
}

.table-expand-row .expand-icon::after {
    content: '+';
    float: right;
}

.table-expand-row-content {
    display: none;
}

.table-expand-row-content.is-active {
    display: table-row;
    -webkit-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.table-expand-row-nested {
    background-color: #e6e6e6;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


footer{


}
